<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Edit Kontak</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large"> Edit Kontak </ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-list lines="full">
    <ion-input [(ngModel)]="id" type="hidden"></ion-input>
    <ion-item>
      <ion-label position="floating">Nama</ion-label>
      <ion-input
        required
        [(ngModel)]="nama"
        placeholder="Nama Kontak"
        type="text"
      ></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Email</ion-label>
      <ion-input
        required
        [(ngModel)]="email"
        placeholder="Email Kontak"
        type="text"
      ></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">NoHP</ion-label>
      <ion-input
        required
        [(ngModel)]="nohp"
        placeholder="NoHP Kontak"
        type="text"
      ></ion-input>
    </ion-item>
    <ion-row>
      <ion-col>
        <ion-button
          type="button"
          (click)="editContact()"
          color="primary"
          shape="full"
          expand="block"
          >Edit</ion-button
        >
      </ion-col>
    </ion-row>
  </ion-list>
</ion-content>
